/**
 *
 * Apply your custom CSS here
 *
*/

body {	
}

a {
	cursor: pointer;
}

.login_bg{
	background:url(../images/black_bg_login.jpg) top center no-repeat; 
	background-size:cover;
}
#user_login{
	
}
#user_main{
	
}
#loading_div{
	position:absolute;
	_position:absolute;
	top:50%;
	left:50%;
	width:200px;
	height:120px;
	overflow:hidden;
	background:url(../images/loading.gif) no-repeat;
	z-index:10000;
	padding-left:50px;
	padding-top:10px;
	font-weight: bolder;
}
#hide_div{
	width:90%;
	height:100%;
	background-color: #aaa;
	position: absolute;
	z-index:999;
	-moz-opacity: 0.7; 
	opacity:.70; 
	filter: alpha(opacity=70);
	display: none;
}

.categoryTree_top_div{
	width:40%;
	display: list-item;
}

.dialog-iframe-category{
	height:400px;
}
.iframe-body{
	background:#ffffff;
}
.page-container .iframe-content, .iframe-panel{
	padding-top:0px;
}
ul.table_action_list{
	padding-left:0px;
	margin-left:0px;
	list-style: none;
}
ul.table_action_list li{
	margin-top: 2px;
	margin-bottom:2px;
}
div.product_select_pre{
	width:48%;
	display: block;
	height:100%;
	background-image:url(../images/bgw.png);
}
div.product_select_pre a.product_link{
	display: block;
	padding:80px;
	color:#999;
	border: 1px dashed #999;
	height:100%;
	font-size: 14px;
	font-weight: bold;
}

div.detail_show_title{
	float:left;
	width: 100px;
}
div.showDetailDiv .form-group{
	display:table;
	content:"  ";
	width: 100%;
}
.show_table{
	background: #ccc;
  	border-spacing: 1px;
  	width: 100%;
  	border-top-width: 0px;
  	border-right-width: 0px;
  	border-bottom-width: 0px;
  	border-left-width: 0px;
  	display: table;
  	border-collapse: separate;
  	border-color: gray;
  	color: #666;
}
.show_table td{
  padding: 6px 15px;
  background: #fff;
}
.show_table td.show_tdTitle{
  text-align: right;
  width: 110px;
  background: #F5FAFE;
  font-size: 12px;
  display: table-cell;
  vertical-align: inherit;
}

.sp_list{
	padding:0px;
}
.sp_list_item{
	margin: 0 10px;
  	margin-bottom: 30px;
  	width: 180px;
  	border: 10px solid #f1f1f1;
  	float: left;
  	display: list-item;
  	list-style: none;
}
.sp_title{
	color: #fff;
  	padding: 20px;
  	background: #2c2e2f;
  	display: block;
}
.sp_detail{
	font-size: 14px;
	height: 60px;
	padding: 10px 0px;
}
.sp_actions{
	text-align: center;
}

/**
*login
*/
.login_logo{
	padding: 10px 100px;
	border-bottom: #D6DDDF solid 1px;
}
.login_logo_center{
	text-align: center;
	padding:30px;
}
.login_messageDiv{
	height: 20px;
	text-align: center;
}
.login_form{
	background: #29363A;
  	width: 300px;
  	height: 240px;
  	margin: auto auto;
	
}
.login_form_title{
	color: #A7C0BF;
	padding:10px;
	text-align: center;
	font-size: 14px;
}
.login_register_link{
	color:#C06221;
	float:right;
	margin-top: 4px;
	text-decoration: underline;
	font-weight: bold;
}
.login_register_link:hover{
	color:#FFFFFF;
}
.login_footer1{
	margin-top: 20px;
  	border-top: 1px solid #aaa;
  	padding: 10px 0px;
}
.login_footer1 .login_footer_wechat{
	background-image: url(../images/login_wechat.png);
	width: 75px;
  	height: 100px;
  	background-repeat: no-repeat;
  	background-position: bottom;
  	margin-left: 340px;
  	float: left;
  	font-size: 14px;
}
.login_footer1 .login_footer_weibo{
	background-image: url(../images/login_weibo.png);
	width: 75px;
  	height: 100px;
  	background-repeat: no-repeat;
  	background-position: bottom;
  	margin-left: 40px;
  	float: left;
}
.login_footer1 .login_footer_info{
  	height: 100px;
  	float: right;
  	margin-right: 200px;
}
.login_footer1 .login_footer_info ul li{
	list-style: none;
	margin: 4px;
}
.login_footer1 .login_footer_info ul>:first-child{
	font-size: 14px;
	margin-bottom: 10px;
}
.login_footer2{
	background: #29363A;
	height: 50px;
	color: #DFDFDF;
	margin-top: 100px;
	padding:10px;
	text-align: center;
}